/* CSS for bird-name React component */

.bird-name {
    color:rgb(70, 42, 249);
    text-shadow: slategrey 1px 1px 1px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}