body {
    background-color: rgb(204, 240, 228);
    justify-content: center;
    align-items: center;
    display:flex;
}

#overflow-wrapper {
    overflow:scroll;
    height: 400px;
    width: 400px;
}

#current-bird {
    position: relative;
}

#description-wrapper {
    background-color: rgb(8, 205, 136);
}

.bird-image {
    width: 275px;
    height: auto;
    margin: 0 10px;  
}

.image-wrapper {
    text-align: center;
    border: 2px solid black;
    padding: 0px 50px 50px 50px;
    width:fit-content;
}

.type-icon-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.type-icon {
    width: 70px;
    height: 70px;
    margin: 0 10px;
  }  

.bird-name {
    color:rgb(40, 128, 102);
}

#bird-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button-container {
    width: 200px;
    height: 200px;
    position: relative;
    background-color: transparent;
    border: 0px;
  }
  
.previous-button, .next-button {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    border: 0px;
    background-color: transparent;
    background-image: url('https://static.thenounproject.com/png/2879647-200.png');
}

.next-button:hover {
    box-shadow: 5px 0px 5px rgb(161, 220, 209);
}

.previous-button:hover {
    box-shadow: -5px 0px 5px rgb(161, 220, 209);
} 
  
.previous-button {
    left: 0;
    background-position: 0 0;
}
  
.next-button {
    right: 0;
    background-position: 100% 0;
}
  
























