body {
    padding-top: 60px;
    background-image: url("https://pbs.twimg.com/media/EC6sQO_UYAIt1Zz?format=png&name=medium");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

@media (max-height: 920px) { 
  body {
    height: fit-content;
  }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    background-color: transparent;
  }

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-4 {
    width: auto;
    padding: 0px;
}

#root-wrapper {
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width:50%;
    background-color: transparent;
}