/* styling for box around bird size */

#deets-wrapper {
    display: flex;
    /* background-color: rgba(127, 255, 212, 0.263); */
    border-radius: 25%;
    text-align: center;
    border: 1px solid black;
}