.deets-card {
    border-style: solid;
    border-color: black;
    border-width: 0px;
    border-radius: 60%;
    padding: 15px;
    margin: 5px;
}

/* .deets-card:hover {
    box-shadow: 2px 2px 5px rgb(0,0,0,0.3);
} */

.deets-header {
    font-family: Arial, Helvetica, sans-serif;
}

.deets-body {
    color:rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}