/* styling for box around entire description component */

#description-wrapper {
    padding: 0px 50px 50px 50px;
    width:fit-content;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
