#state {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
} 

#state_image_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.state_image {
    width: 80%;
    height: auto;
}