<!DOCTYPE html>
<html>
    <head>
        <title>birddex</title>
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    </head>
    <body>
        <div id="root"></div>

        <!-- <script language="JavaScript"> 
            // const App = () => {
            //     return <h1>Hello world!</h1>
            // }
            const element = ReactDOM.createRoot(document.querySelector('root')) 
            element.render(<h1>Hello world!</h1>); 
         </script>  -->

    <script type="text/jsx" src="/static/src/app.jsx"></script>
    <!-- <script src="/static/app.js"></script> -->
    </body>
</html>