<!DOCTYPE html>
<html>
    <head>
        <title>birddex</title>
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <link href="static/src/app.css" rel="stylesheet" media="print" onload="this.media='all'"></link>
        <!-- <style src="static/src/app.css" rel="stylesheet"></style> -->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

    </head>
    <body>
        <div id="root"></div>

    <script type="text/jsx" src="/static/src/app.js"></script>

    </body>
</html>