<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="col-4 offset-4">
                <div class="overflow-auto"  style="height:400px">
                    <div class="row d-flex justify-content-center" style="margin-bottom: 1rem;">
                        <div id="bird-pic">
                            <img src="/static/img/Articuno.png" style="width: 75%; height: auto;">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1rem;">
                        <div id="bird-name">
                            <strong>Articuno</strong>
                        </div>
                        <div id="latin">
                            <i>Flappius snowflakeum</i>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1rem;">
                        <div id="types" class="col-6 d-flex justify-content-around">
                            <div class="icon" id="ice" style="background-color:#75d0c1; border-radius: 100%; height: auto; width: auto; margin: auto;">
                                <img src="/static/icons/ice.svg" style="height: 60%; width: 60%; margin: 20%;">
                            </div>
                            <div class="icon" id="flying" style="background-color:#8faadd; border-radius: 100%; height: auto; width: auto; margin: auto;">
                                <img src="/static/icons/flying.svg" style="height: 60%; width: 60%; margin: 20%;">
                            </div>
                        </div>
                        <div id="ability-box" class="col-6">
                            <div id="ability-title">
                                <strong>Pressure</strong>
                            </div>
                            <div id="ability-text">
                                <i>Puts other Pokémon under pressure, causing them to expend more PP to use their moves. </i>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1rem;">
                        <div id="description">
                            It's said that this Pokémon's beautiful blue wings are made of ice. Articuno flies over snowy mountains, its long tail fluttering along behind it. 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div id="height">
                                <div class="card">
                                    <div class="card-header">
                                      Height
                                    </div>
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">1.7 m</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div id="weight">
                                <div class="card">
                                    <div class="card-header">
                                      Weight
                                    </div>
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">55.4 kg</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div id="wingspan">
                                <div class="card">
                                    <div class="card-header">
                                      Wingspan
                                    </div>
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">5.3 m</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"style="margin-bottom: 1rem;">
                        <div id="region-map" style="width:100px">
                            <img src="/static/img/Kanto_Seafoam_Islands.webp">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>