/* body {
    background-color: rgb(204, 240, 228);
    justify-content: center;
    align-items: center;
    display:flex;
} */

#overflow-wrapper {
    overflow:scroll;
    overflow-x: hidden;
    height: 400px;
    width: 381px;
}